.docs-content {
    font-family: -apple-system,system-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
    flex-shrink: 10;
    box-sizing: border-box;
    position: relative;
    min-width: 0;
    width: 100%;
}

.phdr {
padding: var(--pre-code-padding);
    background: #253238;
    color: #fff;
    display: block;
    overflow-x: auto;
    border-radius: var(--pre-code-border-radius);
    font-size: var(--pre-code-font-size);
    line-height: var(--pre-code-line-height);
    font-weight: 400;
}
}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
